Add helpers for setting `typ` and `cty` header parameters

Currently applications must mutate the `Token.Header` map directly to set header parameters `typ` [RFC7519 Section 5.1](https://datatracker.ietf.org/doc/html/rfc7519#section-5.1) and `cty` [RFC7519 Section 5.2](https://datatracker.ietf.org/doc/html/rfc7519#section-5.2).

Example:
```go
    token.Header["typ"] = "JWT"
```
This issue proposes adding small helper methods:
```go
    token.SetType("at+jwt")
    token.SetContentType("JWT")
```

These would simply modify Token.Header internally and would not change signing or validation behaviour.

This may improve discoverability for these registered header parameters.

Related discussion: https://github.com/golang-jwt/jwt/issues/238
